.task-item {
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-areas:
            "task-content task-button";
    height: 50px;
}

.task-input {
    grid-area: task-content;
}

.task-content {
    grid-area: task-content;
    display: grid;
    grid-template-areas:
    "task-title task-title task-title task-title";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.task-title {
    grid-area: task-title;
    font-size: 1em;
    font-weight: bold;
}
.task-info {
    grid-area: task-info;
}
.task-button {
    grid-area: task-button;
}
