.page-container {
    width: 80%;
    margin: 10px auto;
    padding: 32px;
    background-color: white;
    border-radius: 25px;

    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
            "header header"
            "task-list note-list";
    grid-gap: 10px;
}

.header {
    grid-area: header;
}

.task-list {
    grid-area: task-list
}

.note-list {
    grid-area: note-list;
}